@media (min-width:768px) {
body {
background: url('https://i.pinimg.com/736x/f6/54/fe/f654fe51c2910e82200da96575f6096a.jpg') center center fixed !important;
background-repeat: no-repeat;
background-size: 100%;
color: #9e7a86 !important;
}
}

@media (max-width: 768px) {
body {
background: url('https://i.pinimg.com/736x/f6/54/fe/f654fe51c2910e82200da96575f6096a.jpg') center center fixed !important;
background-repeat: no-repeat;
background-size: 100%;
width: auto !important;
min-width: 600px !important;
}
}

.col-md-9.col-xs-12 {
background: #C3DAE8 !important;
border: 4px double #91AFC2 !important;
border-top: none !important;
border-right: none !important;
border-bottom :none !important;
}

div.container.main {
background: #C3DAE8 !important;
border: 4px double #91AFC2 !important;
border-left: none !important;
}
