@media (min-width:768px) {
body {
background: url('https://i.pinimg.com/736x/f6/54/fe/f654fe51c2910e82200da96575f6096a.jpg') center center fixed !important;
background-repeat: no-repeat;
background-size: 100%;
}
}

@media (max-width: 768px) {
body {
background: url('https://i.pinimg.com/736x/f6/54/fe/f654fe51c2910e82200da96575f6096a.jpg') center center fixed !important;
background-repeat: no-repeat;
background-size: 100%;
width: auto !important;
min-width: 600px !important;
}
}
