@media (min-width:768px) {
body {
background: url('https://i.pinimg.com/736x/f6/54/fe/f654fe51c2910e82200da96575f6096a.jpg') center center fixed !important;
background-repeat: no-repeat;
background-size: 100%;
color: #171e3a !important;
}
}

@media (max-width: 768px) {
body {
background: url('https://i.pinimg.com/736x/f6/54/fe/f654fe51c2910e82200da96575f6096a.jpg') center center fixed !important;
background-repeat: no-repeat;
background-size: 100%;
width: auto !important;
min-width: 600px !important;
}
}

.col-md-9.col-xs-12 {
background: #ddbdbc !important;
border: 4px double #696671 !important;
border-top: none !important;
border-right: none !important;
border-bottom :none !important;
}

div.container.main {
background: #ddbdbc !important;
border: 4px double #696671 !important;
border-left: none !important;
}

.navbar {
background: #a7818c !important;
border: 1px solid #696671 !important;
border-bottom: none !important;
border-top: none !important;
border-right: none !important;
box-shadow: none !important;
font-family: 'Century Gothic';
}

.navbar li a {
color: #473649 !important;
}

.navbar li a:hover {
background: #9e7581 !important;
}

.breadcrumb {
background: ##686472 !important;
color: #a4a5b8 !important;
border: 1px solid #696671 !important;
}

.feature {
background: #b8d9d9 !important;
color: #23464d !important;
border: 1px solid #91AFC2 !important;
}

.topbar {
background: #686472 !important;
color: #a4a5b8 !important;
border: 1px solid #696671 !important;
border-top: none !important;
border-bottom: 4px solid #696671 !important;
}

.sidebar {
background: #a7818c !important;
color: #473649 !important;
border: none !important;
}

.panel {
background: #ecd0b2 !important;
border: #eccaa5 !important;
box-shadow: none !important;
}
